#wrapper
{
    width: 300px;
    height: auto;
    background-color: aquamarine;
    border: 2px solid blue;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input
{
    background-color: #8a2be2;
    margin: 20px;
}

button
{
    background-color: red;
    margin: 20px;
}