body
{
 background-color: azure;   
}
div.navbar
{
    background-color: blue;
    width: 100%;
    height: 40px;
}
li,a
{
    background: linear-gradient(gold ,yellowgreen);
    color: white;
    display: inline-table;
    text-decoration: none;
    padding:2px 10px;
    

}
a#logout
{
    border: 3px solid aqua;
    text-align-last: right;
}
a:hover
{
    color: red ;
}
div#customers form
{
    border: 2px solid grey;
    width: 300px;
    height: 350px;
    padding: 30px;
    background: radial-gradient(goldenrod,yellowgreen);
    font-size: 1.2em;
    text-align: justify;
    border-radius: 15px;
}
div#customers input
{
    border: 2px solid greenyellow;
    border-radius: 7px;
    font-size: 1em;
    padding: 5px;
}
div#customers button
{
    width: 255px;
    height: 35px;
    padding:3px;
    background-color: blue;
    color: white;
    border-radius: 7px;
}
div#customers h2
{
    color: blue;
    text-align: center;
}
div#employees form
{
    background: linear-gradient(limegreen,goldenrod);
    width: 444px;
    height: 400px;
    display: block;
    border: 2px solid lightslategrey;
    border-radius: 4px;
    padding-left: 50px;
    margin: auto;
    font-size: 1em;
    
    

}
div#employees input
{
    background-color: aqua;
    margin: 10px;
    font-size: 1.1em;
    border-radius: 4px;
}

div.contact
{
    display:flex;
    flex-direction:column;
    width: 150px;
    flex-wrap: wrap;
}
div#employees button
{
    width: 237px;
    padding: 3px;
    background-color: blue;
    border-radius: 7px;
    
}
div#attendence form
{
    background: radial-gradient( yellowgreen,goldenrod);
    width: 300px;
    height: 350px;
    margin: auto;
    display: block;
    border: 2px solid lightslategrey;
    border-radius: 4px;
    padding-left: 50px;
    padding-top: 20px;
    font-size: 1.2em;


}
div#attendence input
{
    display:flex;
    padding: 5px;
}
div#attendence select
{
    width: 175px;
    font-size: .8em;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
}
div#attendence button
{
    width: 190px;
    padding: 5px;
    background-color: blue;
    color: white;
}

div.employeelist table
{
    border: 3px solid blue;
    border-collapse: collapse;
    padding: 5px;
    width: auto;
    margin: auto;
}
div.employeelist th,td
{
    border: 2px solid blue;
    padding: 5px 50px;
    row-gap: 20px;
}
div.employeelist th
{
    background-color: grey;
    color: white;
}
div.customertable table
{
    border: 3px solid blue;
    border-collapse: collapse;
    padding: 5px;
    width: auto;
    margin: auto;

}
div.customertable td,th
{
 border: 2px solid blue;
 border-collapse: collapse;
}
thead
{
    background-color:grey;
    padding: 5px;
}
div.salary table
{
    border-collapse: collapse;
    border: 2px solid blue;
    width: auto;
    margin: auto;
}
div#stock form
{
    background: radial-gradient(cyan,azure);
    width: 400px;
    height: 450px;
    margin: auto;
    border: 4px solid blue;
    text-align: justify;
    padding: 10px 40px;  
}
div#stock input,select
{
    display: block;
    padding: 5px;
    margin: 10px 20px;
    border: 2px solid lightpink;
    border-radius: 4px;
}
div#stock h2
{
    text-align: center;
    padding: 3px;
}
div#stock button
{
    text-align: center;
    background-color: green;
    width: 200px;
    border-radius: 6px;
    padding: 5px;

}
div.stocklist table
{
    border: 2px solid blue;
    margin: auto;
    width: auto;
    border-collapse: collapse;
    padding: 4px;

}
div.stocklist th,td
{
    padding: 10px;
    border: 2px solid blue;
    border-collapse: collapse;


}
div.stocklist h3
{
    color: blue;
    text-align: center  ;
}
div#sales form
{
    border: 2px solid blue;
    background: radial-gradient( azure,grey);
    width: 400px;
    height: 600px;
    margin: auto;
    padding: 10px;
    text-align: center;

}
div#sales input,select
{
    padding: 10px;
    margin: 7px 100px;
    text-align: center;
    font-size: 1em;
    display:flex;
}
div#sales button
{
    width: 200px;
    padding: 10px;
    background-color: green;

}

h2
{
    text-align: center;
    color: blue;
}
div.Currentpawnitems table
{
    border: 2px solid blue;
    border-collapse: collapse;
    padding: 4px ;
    margin: auto;

}
div.Currentpawnitems th,td
{
    border: 2px solid lightslategray;
    border-collapse: collapse;
    padding: 4px 10px;
    margin: 4px;
    
}
div.redeempawnitem table
{
    border: 2px solid blue;
    border-collapse: collapse;
    padding: 20px;
    margin: auto;
}